RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

# API requires these
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Accept, Authorization, Content-Type, WWW-Authenticate"
Header set Access-Control-Allow-Methods "DELETE, GET, HEAD, PATCH, POST, PUT, OPTIONS"