RewriteEngine on

# CSS chama um arquivo .php que monta de acordo com o necessário e miniza os caracteres
# Com uma unica chamada de arquivo .css, fica mais rápido pra carregar e leve pra baixar
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z]*\.css)$ css/$1.php [L,NC]

# JS, mesmo esquema
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z]*\.js)$ javascript/$1.php [L,NC]

# Rewrite do framework
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
