/* Detalhes da ocorrência */
#grid-exportacao-historico-ocorrencia .summary,
#grid-exportacao-historico-ocorrencia .table {
  display: none;
}

/* Páginas de registro de ocorrências */
.header-registro-ocorrencia {

}

.header-registro-ocorrencia h1 {
  text-align: center;
}

.header-registro-ocorrencia p {
  color: #585858;
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
}

.header-registro-ocorrencia p strong {
  color: #000;
  font-size: 1.05em;
}

.bloco-etapa-registro-ocorrencia {
  margin-top: 2em;
}

.bloco-etapa-registro-ocorrencia h2 {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

.bloco-etapa-registro-ocorrencia form {
  margin: 3em auto 3em;
  max-width: 550px;
}

.bloco-etapa-registro-ocorrencia form label {
  font-size: 22px;
}
